/*Reusable colors for a consistent palette.*/
:root{
    --engOrange: rgb(186, 18, 0);
    --richBlack: rgb(3,25,39);
    --babyBlue: rgb(157,209,241);
    --airForceBlue: rgb(80,138,168);
    --pompPower: rgb(125,107,145);
}

/*Handles how the whole page is sized and the background color.*/
body{
    background-color: var(--engOrange);
    margin: 0;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas:"navbar header header header header"
                        "navbar main main main main"
                        "navbar footer footer footer footer";
}
#navbar{
    grid-area: navbar;
}
#header{
    grid-area: header;
}
#main{
    grid-area: main;
}
#footer{
    grid-area: footer;
}

#project-grid{
    display: grid;
    grid-template-columns: auto auto auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 9rem;
    background-color: var(--airForceBlue);
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    border: 1px solid var(--richBlack);
}

li {
  text-align: center;
  border-bottom: 1px solid var(--richBlack);
}

li:last-child {
  border-bottom: none;
}

li a {
  display: block;
  color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

/* Change the link and background color on hover */
li a:hover {
  background-color: var(--pompPower);
  color:white;
}